<section id="detalhes">
    <section id="restaurante">
        <h1>{{restaurante.nome}}</h1>
        <div id="descricao-autor">
            <h3>"{{restaurante.descricao}}"</h3>
            <div>
                <div id="rating">
                    <button mat-icon-button class="ic" *ngFor="let avaliacao_id of array_avaliacao;index as i">
                        <mat-icon>{{showIcon(avaliacao, i)}}</mat-icon>
                    </button>
                </div>
                <div id="autor">
                    <img [src]="restaurante.autor_restaurante.photoURL" width="60">
                    <p>Postado por {{restaurante.autor_restaurante.displayName}}</p>
                </div>
            </div>
        </div>

        <!-- no angular e dessa forma que voce navega entre as pastas "../../" -->
        <img [src]="restaurante.downloadUrl" width="500" id="restaurante-img">
        <p>
            Restaurante localizado em {{restaurante.cidade}} - {{restaurante.estado.nome}}
        </p>
    </section>

    <div id="divisor"></div>

    <section id="comentarios">
        <h2>Avaliações de quem frequentou esse restaurante</h2>

        <div id="avaliacoes">
            <mat-card *ngFor="let comentario of array_comentarios_usuarios">
                <div id="usuario">
                    <div>
                        <img [src]="comentario.autor.foto" width="30">
                        <span>{{ comentario.autor.nome }} - <i>{{
                                formatDate(comentario.comentado_em.seconds)
                                }}</i></span>
                    </div>
                    <mat-icon id="excluir-comentario" (click)="deleteComment(comentario)"
                        *ngIf="usuario_logado && comentario && usuario_logado.uid === comentario.autor.uid">
                        delete
                    </mat-icon>
                </div>
                <p>"{{comentario.comentario}}"</p>
                <div id="star-rating">
                    <button mat-icon-button class="ic"
                        *ngFor="let rating_id of array_comentarios_usuarios_avaliacao;index as i">
                        <mat-icon>{{showIcon(comentario.estrelas, i)}}</mat-icon>
                    </button>
                </div>
            </mat-card>
        </div>

        <div id="avaliacao-usuario">
            <mat-form-field appearance="outline">
                <mat-label>Dê sua opinião sobre esse restaurante</mat-label>
                <textarea #comentario maxlength="256" matInput [(ngModel)]="comentario_usuario" rows="4"></textarea>
                <mat-icon matSuffix>description</mat-icon>
                <mat-hint>{{ comentario.value.length }} / 256</mat-hint>
            </mat-form-field>

            <div id="save">
                <div id="star-rating">
                    <button mat-icon-button class="ic" *ngFor="let rating_id of array_avaliacao_usuario;index as i"
                        (click)="onClick(i+1)">
                        <mat-icon>{{showIcon(avaliacao_usuario, i)}}</mat-icon>
                    </button>
                </div>
                <button mat-flat-button id="toSave" (click)="sendComment()">
                    Enviar comentário
                </button>
            </div>
        </div>
    </section>
</section>