#detalhes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 97%;
    transform-style: preserve-3d;
}
#detalhes #restaurante {
    box-sizing: border-box;
    z-index: 100;
    overflow-y: auto;
    width: 48%;
    height: 98%;
    margin-left: 16px;
    text-align: center;
    padding: 16px;
}
#detalhes #restaurante #opcoes {
    text-align: left;
}
#detalhes #restaurante #restaurante-img {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 8px;
}
#detalhes #restaurante #descricao-autor {
    margin-bottom: 16px;
}
#detalhes #restaurante #descricao-autor h3 {
    text-align: center;
}
#detalhes #restaurante #descricao-autor div {
    text-align: center;
}
#detalhes #restaurante #descricao-autor div img {
    border-radius: 50%;
    margin-right: 8px;
}
#detalhes #restaurante #descricao-autor div p {
    margin: 0;
}
#detalhes #restaurante #descricao-autor #autor {
    margin: 16px auto;
}
#detalhes #comentarios {
    overflow-x: auto;
    box-sizing: border-box;
    z-index: 100;
    width: 48%;
    height: 98%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 16px;
}
#detalhes #comentarios #avaliacoes {
    width: 80%;
    height: 60%;
    margin: 0 auto;
    overflow-x: auto;
}
#detalhes #comentarios #avaliacoes mat-card {
    margin-bottom: 16px;
    background: #e9e9e9;
}
#detalhes #comentarios #avaliacoes mat-card #usuario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
#detalhes #comentarios #avaliacoes mat-card #usuario #excluir-comentario {
    cursor: pointer;
    color: #ff4343;
}
#detalhes #comentarios #avaliacoes mat-card #usuario img {
    margin-right: 8px;
}
#detalhes #comentarios #avaliacoes mat-card #usuario span i {
    font-size: 12px;
}
#detalhes #comentarios #avaliacoes mat-card p {
    margin: 0;
    background: #F5F5F5;
    padding: 8px;
    border-radius: 4px;
}
#detalhes #comentarios #avaliacoes mat-card div {
    display: flex;
    align-items: center;
}
#detalhes #comentarios #avaliacoes mat-card div img {
    border-radius: 50%;
}
#detalhes #comentarios #avaliacao-usuario {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 47%;
    padding: 16px;
}
#detalhes #comentarios #avaliacao-usuario mat-form-field {
    width: 90%;
    margin: auto;
}
#detalhes #comentarios #avaliacao-usuario #save {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 52px;
}
#detalhes #comentarios #avaliacao-usuario #save #toSave {
    background-color: #dbb986;
}
.ic {
    color: #fffc3a;
}
