
.header{
  background-color: #F8485E;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header mat-card-title {
  color: #FFF;
}

#cog {
  color: #FFF;
}
.mat-dialog-container {
  padding: 0px !important;
}
span {
  border: 0px !important;
}
section {
  padding: 0 0 16px 0;
}
section #restaurantes {
  width: 90%;
  margin: auto;
  margin-top: 16px;
}
section #restaurantes h1 {
  font-weight: 600;
}
section #restaurantes mat-form-field {
  width: 60%;
}
section #restaurantes #restaurantes-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
section #restaurantes #restaurantes-cards mat-card {
  background: #ffd1d1;
  margin: 0px 12px 16px 0px;
  width: 30%;
}
section #restaurantes #restaurantes-cards mat-card mat-card-subtitle {
  height: 100px;
  align-items: center;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
section #restaurantes #restaurantes-cards mat-card div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
section #restaurantes #restaurantes-cards mat-card div p {
  margin: 0;
  margin: 5px;
}
section #restaurantes #restaurantes-cards mat-card #toBottom {
  display: flex;
  justify-content: space-between;
}

